<nb-card>
  <nb-card-header *ngIf="showTitle">
    <h5>{{ title }}</h5>
  </nb-card-header>

  <ng-content select="[filters]"></ng-content>

  <div class="toolbar-buttons">
    <button nbButton status="info" size="small" (click)="onToolbarAdd()">
      <nb-icon icon="plus-outline"></nb-icon> {{ 'toolbar.new' | translate }}
    </button>
    <button nbButton status="warning" size="small" (click)="onToolbarEdit()" [disabled]="selectedRows.length !== 1">
      <nb-icon icon="edit-outline"></nb-icon> {{ 'toolbar.edit' | translate }}
    </button>
    <button nbButton status="danger" size="small" (click)="onToolbarDelete()" [disabled]="selectedRows.length === 0">
      <nb-icon icon="trash-2-outline"></nb-icon> {{ 'toolbar.delete' | translate }}
    </button>
    <button nbButton status="success" size="small" (click)="onToolbarExport()">
      <nb-icon icon="download-outline"></nb-icon> {{ 'toolbar.export' | translate }}
    </button>
  </div>

  <ag-grid-angular
    #agGrid
    class="ag-theme-alpine"
    [domLayout]="'autoHeight'"
    [columnDefs]="columnDefs"
    [rowData]="rowData"
    [defaultColDef]="defaultColDef"
    [getRowStyle]="getRowStyle"
    [pagination]="pagination"
    [paginationPageSize]="paginationPageSize"
    [paginationPageSizeSelector]="[10, 20, 50, 100]"
    [localeText]="localeText"
    [rowSelection]="'multiple'"
    [suppressRowClickSelection]="false"
    [rowHeight]="48"
    [animateRows]="true"
    (gridReady)="onGridReady($event)"
    (selectionChanged)="onSelectionChanged()">
  </ag-grid-angular>
</nb-card>
